<h1><%= @place["name"] %></h1>

<ul>
  <li><%= @post["title"] %></li>
  <li><%= @post["description"] %></li>
  <li><%= @post["posted_on"] %></li>
</ul>

<p><a href="/places/<%= @places["id"] %>">Back to <%= @place["name"] %></a></p>

